.gridBox:hover {
    background-color: aquamarine;
}

.gridBox, .path, .selectedPiece {
    vertical-align: top;
    height: 8vmin;
    width: 8vmin;
}

.path {
    background-color: rgb(236, 141, 232);
}

.wholeGame {
    text-align: center;
}

.selectedPiece {
    background-color: coral;
}