.gridBox:hover {
    background-color: aquamarine;
}

.gridBox, .path, .selectedPiece, .attackable, .soldier, .soldier2{
    vertical-align: top;
    height: 8vmin;
    width: 8vmin;
    border-width: 0px;
    /* border-width: 0.5px; */
}

.path {
    background-color: rgb(236, 141, 232);
}

.wholeGame {
    text-align: center;
}

.selectedPiece {
    background-color: coral;
}

.attackable {
    background-color: red;
}

.soldier{
    background-image: url(../images/soldier.png);
    background-repeat: no-repeat;
    background-size: 8vmin;
}
.soldier2{
    background-image: url(../images/soldier2.png);
    background-repeat: no-repeat;
    background-size: 8vmin;
}

.health{
    color: red;
}