.gridBox:hover {
    background-color: aquamarine;
}

.gridBox, .path, .selectedPiece, .debug {
    vertical-align: top;
    height: 8vmin;
    width: 8vmin;
    border-width: 0.5px;
}

.path {
    background-color: rgb(236, 141, 232);
}

.wholeGame {
    text-align: center;
}

.selectedPiece {
    background-color: coral;
}

.debug{
    background-color: olive;
}
